
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

/*Insira a variavel das outras cores inspecionando o modelo do figma*/
/*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/

/*Neste desafio, gostariamos que praticassem a metodologia BEM, caso seintam a vontade 
de utiliza-la. 

Mas o que é o BEM?

BEM (Block, Element, Modifier) ​​é uma abordagem baseada em componentes para o desenvolvimento
web. A ideia por trás disso é dividir a interface do usuário em blocos independentes.
Isso torna o desenvolvimento de interface fácil e rápido, mesmo com uma interface
de usuário complexa, e permite a reutilização de código existente sem copiar e colar.

Link da documentação oficial!
https://en.bem.info/methodology/quick-start/*/

:root{
    --cor-de-fundo: #C5C1C0;
    --cor-de-link: #0A1612;
    --cor-de-texto-geral: #464646;
    --cor-de-fundo-destaque: #F7CE3E;
    --cor-branco: #FFFFFF;
    --cor-azul-100: #1A2930;
    --cor-azul-80-hover: #f8dd7a;
    --cor-botao-bg-hover: #F7CE3E;
}
/* SEÇÃO MENU */
section.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
}
section header{
    display: flex;
    align-items: center;
    font-weight: 700;
}
section header img{
    box-shadow: none;
    margin-right: 16px;
}

.menu__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 750px;
    padding: 0;
    font-weight: 500;
}
.menu__list__item:last-child{
    font-weight: 700;
}
.menu__list__item__conatato{
    display: none;
}

/* TITLE */
.title{
    margin: 32px 0;
}

.title__div{
    display: flex;
    flex-direction: row-reverse;
    align-content: space-between;
    align-items: stretch;
    margin: 0 150px;
}
.title__profile{
    width: 368px;
    height: 368px;
    border-radius: 50%;
    flex-grow: 1;
}
.title__container{
    width: 800px;  
}

.title__bio{
    font-weight: 700;
    font-size: 52px;
    line-height: 61px;
    margin: 0;
}
.title__subsection{
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}
.title__network{
    display: flex;
    justify-content: space-between;
    width: 450px;
    padding: 0;
    font-weight: 500;
}
.title__network img{
    box-shadow: none;
}

.title__network a:hover{
    transition: 200ms linear;
    transform: scale(1.1);
}

/* SEÇÃO ABOUT */

.about{
    background-color: var(--cor-de-fundo-destaque);
    padding: 62px 150px;
}
.about__container{
    width: 800px;
}
.about__container img{
    box-shadow: none;
}
.about__title{
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}
.about__paragraph{
    font-weight: 400;
    line-height: 19px;
}

/* SEÇÃO SKILLS */
.skills{
    padding: 0 150px;
}
.skills__title{
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}
.skills__line{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.skills__box{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 16px;
    margin: 20px 0;
    width: 100px;
    height: 110px;
    background-color: var(--cor-branco);
    border-radius: 20px;
    font-weight: 700;
}
.skills__box ul{
    margin: 0;
    padding: 0;
}
.skills__img{
    margin-bottom: 8px;
}

/* HOBBIES */

.hobbies{
    padding: 0 150px;
}
.hobbies__title{
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}
.hobbies__line{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.hobbies__box{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 16px;
    margin: 20px;
    width: 100px;
    height: 110px;
    background-color: var(--cor-branco);
    border-radius: 20px;
    font-weight: 700;

}
.hobbies__box ul{
    margin: 0;
    padding: 0;
}
.hobbies__img{
    margin-bottom: 8px;
}

/* FORMACAO ACADEMICA */

.academic{
    background-color: var(--cor-de-fundo-destaque);  
}
.academic__title{
    padding: 82px;
    gap: 32px;
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 37.57px;  
}
.academic__courses{
    display: flex;
    justify-content: space-around;
}
.academic__courses__box{
    border: 0;
    width: 26.5rem;
    
}
.academic__courses__box img{
    width: 368px;
    height: 268px;
}

.academic__courses__item__title{
    font-weight: 700;
    font-size: 22px;
    line-height: 10px;
    width: 200px;
    height: 26px;

}
.academic__courses__item__subtitle{
    font-size: 16px;
    font-weight: 500;
    width: 250px;
    height: 19px;
}


/* EXPERIENCIA */

.experience{
    display: flex;
    flex-direction: column;
    margin: 0px 150px 0px 150px;
}
.experience__section__title{
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}
.experience__box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0;
    width: 1136px;
    height: 406px;
    gap: 16px;
}
.experience__info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    width: 348px;
    height: 112px;
    gap: 8px;
}
.experience__box:nth-child(odd){
    flex-direction: row-reverse;
}
.experience__img{
    width: 752px;
    height: 406px;
    filter:drop-shadow(0px 4px 4px rgba(0,0,0.25));
}
.experience__img:hover{
    transition: 500ms linear;
    transform: scale(1.1);
}

.experience__title{
    font-weight: 700;
    font-size: 16px;
    margin: 16px 0px 0px;
    line-height: 26px;
}
.experience__text{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
.experience__description{
    display: flex;
    flex-direction: row;
}
/* BOTAO REPOSITORIO */
.experience__botao--repo{
    width: 116px;
    height: 51px;
    padding: 16px;
    background-color: var(--cor-de-fundo);
    color: var(--cor-azul-100);
    border: 1px solid var(--cor-azul-100);
    gap: 10px;
}
.experience__botao--repo:hover{
    cursor: pointer;
    background-color: var(--cor-botao-bg-hover);
}
/* BOTAO DEMO */
.experience__botao--demo{
    width: 116px;
    height: 51px;
    padding: 16px;
    background-color: var(--cor-azul-100);
    color: var(--cor-branco);
    border: none;
    gap: 10px;
}

.experience__botao--demo:hover{
    cursor: pointer;
    background-color: var(--cor-azul-80-hover);
}
/*CONTATO */

section.formcontato{
    background-color: var(--cor-de-fundo-destaque);
}

.formcontato__contato {
    display: flex;
    justify-content: space-around;
    padding: 50px 150px;
    
}

.formcontato__text {
    margin-left: 16px;
    border: 2px solid var(--cor-de-link);
    border-radius: 10px;
    padding: 2%;
}

.formcontato__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    margin-top: 0;

}

.formcontato__subtext {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-top: 0;
}

.formcontato__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 458px;
    border: 2px solid var(--cor-de-link);
    border-radius: 10px;
    padding: 2%;
}

.formcontato__input {
    height: 25px;
    border: 2px solid var(--cor-de-link);
    border-radius: 10px;
    padding: 0.5%;
}

.formcontato__textarea {
    height: 133px;
    resize: none;
    border: 2px solid var(--cor-de-link);
    border-radius: 10px;
    padding: 0.5%;
}

.btn-enviar {
    width: 165px;
    height: 51px;
    padding: 16px;
    background-color: var(--cor-azul-100);
    color: var(--cor-branco);
    border: none;
}
.btn-enviar:hover {
    cursor: pointer;
    background-color: var(--cor-azul-80-hover);
}
/* RODAPE */

section.footer{
    background-color: var(--cor-de-link);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    color: var(--cor-botao-bg-hover);
}