:root{
    --cor-de-fundo: #C5C1C0;
    --cor-de-link: #0A1612;
    --cor-de-texto-geral: #464646;
    --cor-de-fundo-destaque: #F7CE3E;
    --cor-branco: #FFFFFF;
    --cor-azul-100: #1A2930;
    --cor-azul-80-hover: #f8dd7a;
    --cor-botao-bg-hover: #F7CE3E;
}